*{
    margin:0;
    padding:0;
}
.blog-container{
    padding-right: 15px;
    padding-left: 15px;
    margin:100px;
}

.blog-details{
    display: flex;
    margin: 0 -15px;
    gap:20px;
}
.blog-center-left{
    width: 66%;
    position: relative;
}
.blog-left{
    position: relative;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
}
.blog-center-left{
    width: 55%;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
}
img{
    width: 100%;
    display: block;
    position:relative;
}
.img-blog{
    border-radius: 5px;
    
    width: 100%;
    
}
.blog-time{
    position: absolute;
    top: 12px;
    left: 28px;
    background: #FDC703;
    color: #fff;
    padding: 14px 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.blog-author{
    padding-top: 18px;
    padding-bottom: 25px;
    width: 100%;
}
.author{
    display: flex;
    margin:0;
    align-items: center;
}
.img{
    margin: 20px;
    display: flex;
}
h5{
    font-size: 22px;
    font-weight: bold;
    margin-bottom:15px;
    color:#17233e;
}
.infor-author {
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.infor-author>h5{
    font-size: 17px!important;
    margin-bottom: 0 !important;
}
.infor{
    line-height: 16px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

p{
    font-size: 17px;
    line-height: 28px;
    color: #888;
    margin-bottom: 15px;
}
ul{
    margin:0;
    list-style-type: none;
    padding:0;
}
.blog-list li{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    gap:20px;
    color: #878787;
    margin-bottom: 12px;
    align-items: center;
}
.blog-list i{
    width: 25px;
    height: 25px;
    background-color: #029E9D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 15px;
}
.blog-single-item{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    gap:30px;
    width: 100%;
}
.blog-item{
    display: flex;
    flex-direction: column;
    
}
.img-item{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 32px;
    height: 207px;
}
.blog-single-item .blog-item p{
    border-left: 5px solid #029E9D;
    padding-left:14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:#878787;
    margin-bottom: 20px;
}
.blog-tags{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.blog-tag-btn{
    display:flex;
    align-items: center;
}
.tag-title{
    color: #17233E;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: 0!important;
}
.blog-tag-left{
    display: flex;
    align-items: center;
}
.blog-tag-right{
    display: flex;
}
.tag-btn{
    border-radius: 16px;
    color: #8D8E92;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;    
    padding:10px;
    margin-right: 10px;
}
.blog-tag-btn>span{
    border:1px solid #dee2e6!important;
}
hr{
    width: 100%;
    margin-top:20px;
    color:#8D8E92;
    margin-bottom: 30px;
}
.blog-cmt-person{
    display: flex;
}
.blog-cmt-person-img{
    width: 25%;
    height: 62px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.per-img{
    width: auto;
    height: auto;
}
.per-name{
    font-size: 18px;
    color:#878787;
    margin-bottom: 0;
}
.date{
    font-size: 14px;
    color:#878787;
    font-weight:400;
    line-height: 28px;
}
p{
    margin-top: 15px;
}
.contact-infor{
    width: 100%;
}
.contact-form{
    border-radius: 5px;
    background-color:#d6eeed;
    border:1px solid #dcdcdc;
    height: 100%;
}
.form{
    display:flex;
    flex-direction: column;
    margin:29px;
    justify-content: center;
   
}
input{
    width: 100%;
    border-radius: 5px;
    height: 70px;
    border:1px solid #ced4da;
    /* margin:10px; */
}
.infor-2{
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 1rem!important; 

}
textarea{
    height: auto;
    width: 100%;
    border-radius: 5px;
    height: 100px;
    border:1px solid #ced4da;
    margin-bottom:15px;

}

::-webkit-input-placeholder {
    font-size: 15px;
    font-size: 16px;
    font-weight: 400;
    color:#666;
    font-family: "Heebo", sans-serif;
  }
  .form-infor{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  button{
    background-color: #029e9d;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid  #029e9d;
  }
  .btn:hover{
    background-color: #d6eeed;
    color:#029e9d;
  }
 .blog-center-right{
    width: 45%;
    display: flex;
    flex-direction: column;
 }
 .search-btn>form{
    width: 100%;
    background-color: #D6EEED;
    border-radius: 5px;
 }
 .btn-search{
    width: 100%;
    position: relative;
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .btn-search>input{
    padding: 10px;
    background-color: #D6EEED;
    display: flex;
    border: 0;

 }
 .btn-search>button{
    position: absolute;
    right:0;
    width: 30%;
    height: 100%;
 }
 .sidebar-widget{
    padding: 0;
    margin: 45px 0;
    border: none;
    border-radius: 5px;
 }
 .sidebar-widget h4{
    font-size:18px ;
    font-weight: 700;
    border-radius: 5px;
    padding: 26px 30px;
    color: #17233E;
    font-family: "Heebo";
    background-color: #D6EEED;
    border-radius: 5px 5px 0 0;
 }
 .list-group{
    display:flex;
    flex-direction: column;
    padding:30px;
    border: 1px solid #E1E1E1;
    border-radius: 0 0 5px 5px;

 }
 .list-group>li{
    border:0;
    padding:10px 0;
    border-bottom: 1px dashed #E1E1E1;
    line-height: 16px;
    color:#1B2C51;

 }
 .list-group-numb>a:hover{
    color:rgb(17, 108, 17);
 }
 .list-group-numb{
    display: flex;
    justify-content: space-between;
 }
 .list-group-img{
    border: none;
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin-right: 12px;
    width: 100%;
 }
 .list-2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding:12px 0;
    border: 0 !important;
 }
 .list-group-date{
    font-size: 12px;
    font-weight: 400;
    line-height:14px;
    color:#029E9D;
 }
 .list-group-title{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #1B2C51;
    
 }
 .list-group-title>a:hover{
    color:rgb(17, 108, 17);
 }
 .side-btn{
    border: 1px solid #E1E1E1;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 30px;
 }
.side-btn-content{
    display: inline-block;
    font-size:14px;
    font-weight: 400;
    line-height: 14px;
    background-color: #D6EEED;
    margin-right: 5px;
    color:#212529;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    
 }
@media (max-width:992px) {
    
    .blog-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .blog-center-left{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-center-right{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .list-group-img{
        width: auto;
    }
}
@media (max-width:768px) {
    .blog-container{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin: 40px !important;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }
    .blog-center-left{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-center-right{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:576px) {
    .blog-container{
        margin: 30px!important;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }
    .blog-center-left{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-center-right{
        width: 100%!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-single-item{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .blog-item{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
}