*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}
html, body{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}
h2{
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    font-family: "Abril Fatface", cursive;
    margin: 0 0 25px;
    color: #fff;
}
h5{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
img{
    height: 100%;
    width: auto;;
}
input{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    border: none;
}
.button{
    padding: 15px 25px;
    background-color: #fff;
    color: #029E9D;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #029E9D;
    color:#fff;

}
header *{
    overflow: visible;
}
header{
    width: 100%;
    height: 115px;
    background-color: #029E9D;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.header__center, .footer__top, .footer__bot, .footer_bot_left, .footer_bot_right, .banner-tag{
    display: flex;
}
.header__center li, .header__menu li{
    padding: 15px 0;
    margin: 0 20px;
    position: relative;
    overflow: visible;
}
.header__center li a,.header__menu li a{
    position: relative;
    z-index: 6;
}
.header__center li::before, .header__menu li::before{
    content: '';
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #028B8A;
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1;
}
.header__center li:hover::before, .header__menu li:hover::before{
    opacity: 1;
}
.header__center .active::before, .header__menu .active::before{
    opacity: 1;
}
.icon__menu{
    display: none;
}
.icon__menu{
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 4px;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
}
.icon {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-out;
    vertical-align: middle;
}
.icon::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -11px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.35s ease-out;
    backface-visibility: hidden;
}
.icon::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -11px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.35s ease-out;
    backface-visibility: hidden;
}
.collapsed .icon::after{
    transform: rotate(45deg);
    top: 0;
}
.collapsed .icon::before{
    transform: rotate(-45deg);
    top: 0;
}
.collapsed .icon{
    background: rgba(0, 0, 0, 0);
}
.header__menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #029E9D;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    padding: 16px;
    overflow: hidden;
    text-align: center;
    display: none;
}
.header__menu .button{
    margin-top: 20px;
    overflow: visible;
}

@keyframes hienthimenu {
    from {
        height: 0px;
    }
    to{
        height: 400px;
    }
}
@keyframes anmenu{
    from{
        height: 400px;
    }
    to{
        height: 0px;
    }
}

#banner{
    width: 100%;
    height: auto;
    background-image: url('./img/desti1.png');
    position: relative;
}
#banner .banner__main{
    width: 100%;
    height: 100%;
    background: #029E9D;
    opacity: 0.87;
    padding: 100px 15px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-tag li{
    margin: 0 4px;
    font-size: 18px;
}
.banner-tag .active{
    color:rgba(255, 255, 255, 0.87)
}
.section{
    padding: 110px 0;
    float: left;
    width: 100%;
    background-image: url(./img/bg-graphics.png);
    background-repeat: no-repeat;
    background-position: center top 40px;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.section h2, .section h3{
    text-align: center;
}
.section h2{
    color: #111;
}
.container{
    max-width: 1200px;
}
.card-blogers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.bloger{
    position: relative;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}
.bloger img{
    width: 100%;
    height: auto;
}
.card-bloger{
    width: 100%;
    height: auto;
    box-shadow: 0 10px 20px rgb(0 0 0 / 9%);
    margin-bottom: 30px;
    border-radius: 8px;
    z-index: -1;
}
.card-bloger .card-body{
    padding: 42px;
    flex: 1 1 auto;
    min-height: 1px;
    text-align: left;
}
.d-flex{
    display: flex;
    align-items: center;
}
.card-bloger .card-body h5{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 0;
}
.card-bloger .card-body p{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
}
.infor-bloger{
    margin-left: 12px;
}
.timeup{
    font-size: 12px;
    color: #878787;
    margin-left: auto;
}
.avatar{
    width: 30px;
    height: 30px;
}    
.read-more{
    font-size: 16px;
    color: #029E9D;
    font-weight: 600;
    display: block;
    text-align: right;
    transition: 0.3 ease-in-out;
}
.read-more:hover{
    color:#414C61;
}
.card-bloger h6{
    color: #666;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
}
#btn-backtop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #029E9D;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    z-index: 99;
    transition: all 0.2s ease-in-out;
    display: none;
}
#btn-backtop:hover{
    transform: translateY(-6px);
}

@media only screen and (max-width: 1200px){
    .footer__top-item{
        width: 200px;
    }
    .col1{
        width: 240px;
    }
    .col4{
        width: 370px;
    }
}

/* tablet */
@media only screen and (max-width: 990px){
    .header__center{
        display: none;
    }
    .header__right .button{
        display: none;
    }
    .icon__menu{
        display: block;
    }
    .footer__top{
        flex-wrap: wrap;
    }
    .footer__top-item{
        width: 370px;
        margin-bottom: 40px;
    }
    .bloger{
        width: 45%;
    }
}

/* mobile */
@media only screen and (max-width: 797px){
    .footer__top{
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer__top ul li, .footer__top-item p{
        font-size: 14px;
    }
    .footer__top-item{
        width: 100%;
        max-width: 540px;
    }
    .footer__bot{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .footer_bot_right{
        margin-top: 16px;
    }
    .bloger{
        width: 100%;
    }
    .container{
        max-width: 540px;
    }
}
.card-blogers{
    flex-wrap: wrap;
}
