*{
    margin:0;
    padding:0;
}
.destination{
    background-image: url(./img/bg-graphics.png);
    width:100%;
    margin:90px 0 110px 0;
   
}
.container{
    margin: 0 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.row{ 
    display: flex;
    justify-content: center; 
    
}
.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-4{
    max-width: 33.3%;
    flex: 0 0 50%;   
    position: relative;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.destination-item{
    width: 100%;
    height: auto;
    position:relative;
    margin:13px;
    overflow: hidden;
}
.destination-item .infor-overlay{
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
    padding:30px;
    
}
.destination-item .infor-overlay h4{
    z-index: 3;
    position: relative;
    font-family: 'Comforter Brush', cursive;
}
h4{
    font-size: 26px;
    color: #FDC703;
    font-weight: 400;
}
h3{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px;
    line-height: 34px;  
    color:#fff;
    font-family:"Abril Fatface",cursive;
}
.destination-item .infor-overlay h3{
    z-index: 3;
    position:relative;   
    margin:0;
}
img{
    width:100%;
}
.destination-item img{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
}
.destination-item:hover img{
    transform: scale(1.2);
}

 .destination a{
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
.destination a::before{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    bottom:0;
    content: "";
    background-image: linear-gradient(rgba(23, 35, 62, 0), #17233e);
    opacity: 0.7;
    z-index: 2;
    border-radius: 0 0 5px 5px;
} 
 .destination a img{
    width: 100%;
    height: auto;
    transition:  all 0.5s ease; 
}
@media only screen and (max-width: 767px){
    .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
